@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
 box-sizing: border-box;
 font-family: 'poppins', sans-serif;
}
body {
 margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #32cd9c;
}
.container {
 width: 350px;
 background-color: white;
 border-radius: 5px;
 padding: 20px;
 text-align: center;
}
.container input {
 width: 100%;
 padding: 10px;
 border: none;
 border-bottom: 2px solid #777777;
 margin-bottom: 20px;
 font-size: 16px;
 outline: none;
}
.btn {
 border: none !important;
 cursor: pointer;
 background-color: #32cd9c;
 margin: 15px 0;
 font-size: 16px;
 width: 100%;
 padding: 14px;
}
.btn:hover {
 background-color: #1f7d5f;
 color: white;
}
